/* General insructions */

*{
    box-sizing:border-box;
}

h1,h2,h3,h4,h5,h6{
    /* margin: 0; */
    text-align: center;
    font-family: fantasy;
}

p{
    margin-bottom: 20px;
}

html,body{
    width: 100%;
    margin: 0;
    padding: 0;
}

.voice{
  display: table;
  margin: 0 auto;
  /*margin-right: auto;*/
  /*margin-left: auto;*/
}

label{
    display: block;
    font-family: cursive;
    font-size: 18px;

    /* width: 100%; */
    background-color: #86abc4;
    color:#1b341a;
    height: 75px;
    /* margin-top: 50px; */
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

    /* vertical-align:   middle; */
    border-radius: 10px;
    text-align: center;
}

input{
  display: block;
  /* align: middle; */
  /* padding-left: 40%; */
  /* align-items: center; */
  /* text-align: center; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* position: absolute; */

  /* border-radius: 0; */
}
/*
text{
  size: 35;
} */

.checkbox .radio{
  display: inline;
}

input.radio{
  display: inline;
}

input.checkbox{
  display: inline;
}

textarea{
  border-radius: 5px;
}


.pswd{
  border-radius: 3px;
  border-style: double;
  margin-left:  auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: auto;
    margin-bottom: 10px;
}
button, input, select, textarea {
  font-family : inherit;
  font-size   : 100%;
}

.tcenter{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

textarea{
  /* resize: both; */
   display: block;
   margin: 0 auto;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
select{
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
}
 select option{
   margin-top: 10px;
 }
.s2{
  margin-left: auto;
  margin-right: auto;
}

.files{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.ibutton {
    padding: .5rem 2.4rem;
    background: #EF6530;
    color: #FFF;
    border-radius: 2rem;
    font-size: 1rem;
    border: none;
}

.lol{
  border-radius: 1px;
}

body{
    font-family: 'Roboto', 'Arial';
    font-size:16px;
    line-height:1.5;
    color:#1b341a;
}

.pollb{
  /* display: flex; */

  margin-left: auto;
  margin-right: auto;
}

/* Main layout */
.clearfix:after{
    display:table;
    clear:both;
    content:"";
}
.wrapper{
    min-width: 100%;
    overflow: hidden;
}

.container{
    width: 100%;
    max-width: 1000px;
    margin:0 auto;
    height:100%;
    padding-right: 20px;
    padding-left: 20px;
    vertical-align: middle;
}
.container--vertical-align:before{
    content:'';
    display: inline-block;
    height:100%;
    vertical-align: middle;
}

.maintitle{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.title{
    font-size: 38px;
    color: #1b341a;
}

.title--low{
    font-size: 24px;
    margin-bottom: 25px;
}

/* Nav */
.nav{
    width: 100%;
    background-color: #86abc4;
    color:#1b341a;
    height: 75px;
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: middle;
}
.nav-link{
    display:inline-block;
    padding: 10px 25px 10px 25px;
    text-decoration: none;
    background-color: #1b341a;
    color: white;
    vertical-align: middle;
    transition:0.6s;
    border-radius: 5px;
}
.nav-icon{
    margin-left: 15px;
}
.nav-link:hover{
    background-color: #717d85;
    transition: 0.6s;
}
.extlink{
    display: inline-block;
    margin-bottom: 70px;
}
a[href^="http://"], a[href^="https://"]{
    color:#1b341a;
}
a[href^="http://"]:hover, a[href^="https://"]:hover{
    color:#717d85;
}

/* Content */
.content{
    margin-bottom: 50px;
}
.text p::first-letter, .person p::first-letter{
    font-size: 36px;
    display: inline-block;
    font-weight: 700;
    background-color: #86abc4;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.news{
    margin-bottom: 50px;
}
.news:last-of-type{
    margin-bottom: 0;
}
.person{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #86abc4;
}
.person:first-of-type{
    padding-top: 0;
}
.person:last-of-type{
    margin-bottom: 0;
}
.img{
    width: 250px;
    height: auto;
    background-size: cover;
    border:3px solid #717d85;
}
.img-avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    margin-bottom: 15px;
}
.img-link{
    display: inline-block;
}
.img--left{
    float:left;
    margin-right: 20px;
}
.img--right{
    float:right;
    margin-left: 20px;
}
.copyright{
  margin-top: 15px;
    font-size:10px;
    margin-bottom: 15px;
}

.mega-table{
    width: 100%;
}

table {
    border-width: 1px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid black;
    background-color: #fffff0;
    margin-bottom: 71px;
}

.move-cell{
    text-align: center;
}

th, td{
    border: 1px solid black;

    padding: 15px;
    text-align: left;
}

th {

    height: 50px;
    vertical-align: bottom;
}

/*Use the :hover selector on <tr> to highlight table rows on mouse over:*/
tr:hover {background-color: #f5f5f5;}

/*For zebra-striped tables, use the nth-child() selector and add a background-color to all even (or odd) table rows:*/

tr:nth-child(even) {background-color: #f2f2f2;}

/*Here I color heading row of the table*/
th {
    background-color: #4CAF50;
    color: white;
    text-align: center;
}

.media{
  margin-left: auto;
  margin-right: auto;
  margin: auto;
}
